<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns = "http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>{% block page_title %}Page Title Here{% endblock page_title %}</title>
    {% block header_section %}
    {% endblock header_section %}
  </head>

  <body{% block body_attributes %}{% endblock body_attributes %}>
    {% block pageheader %} Page Heading Here {% endblock %}

    {% block content_block %} Content Block Here{% endblock %}

    {% block pagefooter %} Page Footer Here {% endblock %}
  </body>
</html>

